:root{
    --primario: #F3ECDC;  /*beige claro*/
    --primarioOscuro: #E6D8B8; /*beige oscuro*/
    --secundario: #6B7A40; /*verde oliva*/
    --segundoSecundario: #8B5A2B; /*Cafe */
    --detalles: #C2A14D; /*dorado*/
    --titulo: #2B2B2B; /*negro*/

    --fuentePricipal: 'Staatliches', cursive; 
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    font: size 1.6rem;
    background-color: var(--primario);
    line-height: 1.6;
}
p{
    font-size: 1.8rem;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--secundario);
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePricipal);
}
h1{ font-size: 4rem;}
h2{ font-size: 3.2rem;}
h3{ font-size: 2.4rem;}


/** HEADER **/

.header{
    display: flex;
    justify-content: center;
}

.header__logo{
    margin: 3rem 0;
}

/** enlace **/
.navegacion{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.navegacion__enlace{
    font-family: var(--fuentePricipal);
    color: var(--secundario);
    font-size: 3rem;
}

.navegacion__enlace--activo,
.navegacion__enlace:hover{
    color: var(--segundoSecundario);
}


/** footer **/
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__text{
    font-family: var(--fuentePricipal);
    text-align: center;
    font-size: 2.2;
}